.FullPage {
    margin: 15vh auto;
}

.LoginPage {
    text-align: center;
}

.LoginForm {
    width: 20vw;
    border: 2px solid black;
    padding: 50px;
    margin: auto;
}

.RegistrationForm {
    width: 40vw;
    border: 2px solid black;
    padding: 50px;
    margin: auto;
}

.MovieExploreForm {
    width: 60vw;
    border: 2px solid black;
    padding: 50px;
    margin: auto;
}

.LoginButton {
    text-align: center;
}

.myH2 {
    margin-bottom: 5vh;
}

.parent {
    text-align: center;
}
